/* 1. HEADER = GRID */
header {
    display: grid;
    grid-template-columns: 120px 1fr;
    /* logo | nav */
    align-items: center;
}

/* 2. NAV = FLEX */
nav {
    display: flex;
    justify-content: space-around;
}

/* 3. HISTORY = 3 COLUMN GRID */
.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* text | image | text */
    gap: 20px;
    align-items: center;
}

.history h2 {
    grid-column: 1/4;
}

/* span all columns */

/* 4. ADVENTURES = 5 ACROSS WITH FLEX */
.adventures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adventures h2 {
    width: 100%;
}

.adventures figure {
    width: 18%;
    text-align: center;
}

/* 5. FOOTER = FLEX RIGHT */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sociallinks {
    display: flex;
    gap: 10px;
}